<div class="container containers" id="container-id">
<div class="row col-md-12">
<div class="col-md-4">
<div class="panel box container-color">
<div class="panel-heading">
<h3 class="panel-title">TODO</h3>
</div>
{{note-card  filteredModel=model.notes getstatus="todo" }}
</div>
</div>
<div class="col-md-4">
<div class="panel box container-color ">
<div class="panel-heading">
<h3 class="panel-title">DOING</h3>
</div>
{{note-card filteredModel=model.notes  getstatus="doing"}}
</div>
</div>
<div class="col-md-4">
<div class="panel box container-color">
<div class="panel-heading">
<h3 class="panel-title">DONE</h3>
</div>
{{note-card  filteredModel=model.notes  getstatus="done"}}
</div>
</div>
</div>
</div>
